<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    <link rel="stylesheet" href="css-agenda">
</head>
<body>
    <main>
        {{{body}}}
    </main>
    <script src="js-agenda"></script>
</body>
</html>