<link rel="stylesheet" href="css/landing.css">
<section>
    <h1>Node Agenda</h1>
    <p>Uma aplicação desenvolvida em Node JS, utilizando o framework Express e o MySQL como banco de dados. Esse aplicativo permite que os usuários gerenciem suas tarefas e compromissos de forma eficiente e centralizada. Com uma interface amigável, é possível adicionar, editar e excluir eventos facilmente.</p>
</section>
<section>
    <div class="conteiner-route">
        <p>Entre e acesse, para gerencia a sua agenda virtual</p>
        <a href="/login#login">
            <button type="button" title="login" id="login">Entrar</button>
        </a>
    </div>
    <div class="conteiner-route">
        <p>Cadastre-se para obter sua agenda virtual</p>
        <a href="/login#register">
            <button type="button" title="register" id="Cadastrar">Cadastrar</button>
        </a>
    </div>
</section>