@charset "UTF-8";

body{
    background-color: var(--cor6);
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 15px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 100px);
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article > section:first-of-type{
    height: 260px;
}

select{
    background-color: var(--cor1);
    color: var(--cor6);
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

td, th{
    text-align: center;
    width: 50px;
    height: 30px;
}

td > button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

td > button:hover{
    box-shadow: 1px 1px 3px #000000a1;
    outline: none;
}

td > button.selected{
    background-color: var(--cor1);
    color: var(--cor6);
    box-shadow: 1px 1px 3px #000000a1;
}

#conteiner-add-register{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 30px;
}

#conteiner-add-register > div:first-of-type{
    width: 65px;
    text-align: left;
}

#conteiner-add-register  input[type="time"]{
    background-color: transparent;
    font-size: 0.7em;
    width: 65px;
    border: none;
    outline: none;
}

#conteiner-add-register input[type="text"]{
    font-size: 0.7em;
    text-align: left;
    resize: none;
    width: 160px;
    margin: 0 2.5px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
}

#conteiner-add-register input[type="text"]:focus{
    outline: 1px solid var(--cor5);
}

#conteiner-add-register #recorder{
    background-color: var(--cor1);
    color: var(--cor6);
    font-size: 16px;
    width: 70px;
    height: 35px;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
}

#conteiner-add-register #recorder:hover > svg{
    transform: scale(1.1);
} 

#conteiner-add-register #recorder:active{
    background-color: var(--cor2);
}

iframe{
    border: none;
    width: 300px;
    height: 150px;
}