@charset "UTF-8";

p{  
    text-align: center;
    width: 250px;
    padding: 10px 5px;
}

span{
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.conteiner-message{
    background-color: var(--cor6);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000a1;
    position: fixed;
    transform: translateX(-50%);
    top: -200px;
    left: 50%;
    transition: 1s;
}

.conteiner-buttons{
    display: flex;
    width: 100%;
}

.conteiner-buttons > button{
    color: var(--cor6);
    font-size: 16px;
    width: 50%;
    height: 35px;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
}

.conteiner-register .conteiner-buttons:last-of-type{
    display: none;
}

.conteiner-buttons > button:first-child{
    background-color: var(--cor1);
    border-bottom-left-radius: 10px;
}

.conteiner-buttons > button:last-child{
    background-color: var(--cor3);
    border-bottom-right-radius: 10px;
}

.conteiner-buttons > button:hover{
    font-size: 1em;
    text-shadow: 1px 1px 2px #000000a1;
}

.conteiner-buttons > button:first-child:active{
    background-color: var(--cor2);
}

.conteiner-buttons > button:last-child:active{
    background-color: var(--cor4);
}

.conteiner-register{
    display: flex;
    align-items: center;
    width: 300px;
    margin-top: 5px;
}

.conteiner-register-time{
    width: 65px;
    text-align: center;
}

input[type="time"]{
    width: 100%;
    background-color: transparent;
    font-size: 0.7em;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type="text"]{
    font-size: 0.7em;
    text-align: left;
    resize: none;
    width: 160px;
    margin: 0 2.5px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
}

input[type="time"]:disabled, input[type="text"]:disabled{
    background-color: transparent;
    color: var(--cor5);
}

input[type="text"]:focus{
    outline: 1px solid var(--cor5);
}

.conteiner-register .conteiner-buttons{
    width: 70px;
    border: none;
}

.conteiner-register .conteiner-buttons:last-of-type{
    display: none;
}

.conteiner-register .conteiner-buttons > button{
    border-radius: 0px;
}

.conteiner-register .conteiner-buttons > button:hover > svg{
    transform: scale(1.1);
}