@charset "UTF-8";

@keyframes msg {
    to{
        visibility: hidden;
    }
}

:root{
    --cor1: #D9A54C;
    --cor2: #63D94C;
    --cor3: #ff0000dc;
    --cor4: #4C8FD9;
    --cor5: #000;
    --cor6: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor5);
    margin: 0px 10px;
}

header > h1{
    text-transform: uppercase;
    font-size: 2.3em;
    padding: 10px;
}

header > nav{
    padding: 10px;
}

header > nav > a{
    color: var(--cor5);
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

header > nav > a:hover{
    border-color: var(--cor5);
}

header > nav > a:active{
    border-color: var(--cor5);
}

#msgs{
    animation-name: msg;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    overflow: hidden;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

#msgs > .msg{
    display: block;
    color: var(--cor6);
    text-align: center;
    max-width: 80vw;
    margin: 2px auto;
    padding: 5px;
}

.success_msg{
    background-color: var(--cor2);
}

.error_msg{
    background-color: var(--cor3);
}

footer{
    font-size: 0.8em;
    text-align: center;
    width: 100vw;
    padding: 5px;
}